gis-viewer {
//     // @import '../../../node_modules/leaflet/dist/leaflet';

    #map {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute !important;
    }
}