.leaflet-control-custom {
  background-size: 16px !important; }

.settings, .save, .export, .layer-controller {
  background-repeat: no-repeat;
  background-size: 16px !important; }

.leaflet-control-search.leaflet-control a.search-button {
  background-image: url("./assets/icons/search.png") !important;
  background-position: 6px 6px !important;
  background-repeat: no-repeat !important;
  background-size: 16px !important; }

.settings {
  background-image: url("./assets/icons/settings.png") !important; }

.save {
  background-image: url("./assets/icons/content-save.png") !important; }

.export {
  background-image: url("./assets/icons/export.png") !important; }

.layer-controller {
  background-image: url("./assets/icons/layers.png");
  background-position-x: 6px;
  background-position-y: 7px; }

.leaflet-draw {
  margin: 0px !important; }

.custom-toolbar.leaflet-draw-toolbar.leaflet-bar {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.36);
  border: 1px solid grey;
  border-radius: 0px;
  display: flex; }
  .custom-toolbar.leaflet-draw-toolbar.leaflet-bar .custom-toolbar-group {
    display: flex;
    border-right: 1px solid lightgrey;
    background-color: white; }
    .custom-toolbar.leaflet-draw-toolbar.leaflet-bar .custom-toolbar-group .zoom-to-extend-bt {
      margin: 0px;
      border: none;
      display: flex;
      width: 30px;
      border-radius: 0px; }
      .custom-toolbar.leaflet-draw-toolbar.leaflet-bar .custom-toolbar-group .zoom-to-extend-bt:hover {
        background-color: #f4f4f4; }
    .custom-toolbar.leaflet-draw-toolbar.leaflet-bar .custom-toolbar-group .leaflet-control-search {
      margin: 0px;
      border: none;
      display: flex; }
      .custom-toolbar.leaflet-draw-toolbar.leaflet-bar .custom-toolbar-group .leaflet-control-search a {
        border: none;
        border-radius: 0px; }
      .custom-toolbar.leaflet-draw-toolbar.leaflet-bar .custom-toolbar-group .leaflet-control-search .search-tooltip {
        left: 0;
        min-width: 250px;
        border-radius: 0px;
        margin: 0px;
        top: 35px;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.36); }
        .custom-toolbar.leaflet-draw-toolbar.leaflet-bar .custom-toolbar-group .leaflet-control-search .search-tooltip .search-tip {
          margin: 0px;
          border-bottom: 1px solid;
          border-radius: 0px; }
      .custom-toolbar.leaflet-draw-toolbar.leaflet-bar .custom-toolbar-group .leaflet-control-search .search-input {
        min-width: 100px !important;
        height: 29px;
        outline: none; }
    .custom-toolbar.leaflet-draw-toolbar.leaflet-bar .custom-toolbar-group .polyline-measure:before {
      content: "";
      border-right: 1px solid lightgrey;
      display: block;
      height: 20px;
      margin: auto; }
    .custom-toolbar.leaflet-draw-toolbar.leaflet-bar .custom-toolbar-group .leaflet-control-zoom, .custom-toolbar.leaflet-draw-toolbar.leaflet-bar .custom-toolbar-group .polyline-measure {
      margin: 0px;
      border: none;
      display: flex; }
      .custom-toolbar.leaflet-draw-toolbar.leaflet-bar .custom-toolbar-group .leaflet-control-zoom a, .custom-toolbar.leaflet-draw-toolbar.leaflet-bar .custom-toolbar-group .polyline-measure a {
        background-image: none;
        border: none;
        border-radius: 0px; }
    .custom-toolbar.leaflet-draw-toolbar.leaflet-bar .custom-toolbar-group .leaflet-draw-toolbar.leaflet-bar {
      margin: 0px;
      border: none;
      display: flex; }
      .custom-toolbar.leaflet-draw-toolbar.leaflet-bar .custom-toolbar-group .leaflet-draw-toolbar.leaflet-bar a {
        text-indent: -99999px;
        border: none;
        border-radius: 0px; }
    .custom-toolbar.leaflet-draw-toolbar.leaflet-bar .custom-toolbar-group .search-map {
      height: 14px !important;
      font-size: 12px;
      padding-left: 3px;
      width: 100px; }
      .custom-toolbar.leaflet-draw-toolbar.leaflet-bar .custom-toolbar-group .search-map:hover {
        border: 1px solid grey;
        height: 16px !important;
        padding-left: 4px;
        width: 101px; }
  .custom-toolbar.leaflet-draw-toolbar.leaflet-bar .custom-toolbar-button {
    border: none;
    border-radius: 0px;
    width: 30px; }
    .custom-toolbar.leaflet-draw-toolbar.leaflet-bar .custom-toolbar-button.no-bg-image {
      background-image: none; }
    .custom-toolbar.leaflet-draw-toolbar.leaflet-bar .custom-toolbar-button.zoom-in, .custom-toolbar.leaflet-draw-toolbar.leaflet-bar .custom-toolbar-button.zoom-out {
      font-size: 17px; }
    .custom-toolbar.leaflet-draw-toolbar.leaflet-bar .custom-toolbar-button.zoom-to-extend-bt {
      background-repeat: no-repeat;
      background-color: white;
      background-position-x: 6px;
      background-position-y: 7px;
      background-size: 16px !important; }
    .custom-toolbar.leaflet-draw-toolbar.leaflet-bar .custom-toolbar-button:hover {
      background-color: #f4f4f4; }
